<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gourmet Recipe</title>

    <meta name="description" content="Select your ingredient">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'countries',
        remote: 'http://34.208.105.157:8080/search?key=%QUERY',
        limit: 10
    });
    });
    </script>
 <style type="text/css">
.bs-example{
        font-family: sans-serif;
        position: relative;
        margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
        border: 2px solid #CCCCCC;
        border-radius: 8px;
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 396px;
}
.typeahead {
        background-color: #FFFFFF;
}
.typeahead:focus {
        border: 2px solid #0097CF;
}
.tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
        color: #999999;
}
.tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
}
.tt-suggestion {
        font-size: 24px;
        line-height: 24px;
        padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
}
.tt-suggestion p {
        margin: 0;
}
</style>

  </head>
  <body>
    <!--banner-->
    <section id="banner">
      <div class="bg-color">
        <header id="header">
            <div class="container">
                <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               	  
                  <form action="/login" method="get">
                  	<button type="submit" class="btn btn-lg">Login</button>
              
                  </form>
                 
                </div>
                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()" class="pull-right menu-icon">☰</span>
            </div>
        </header>
        <div class="container">
        <div class="row">
          <div class="inner text-center">
            <h1 class="logo-name">Gourmet Recipe</h1>
            <h2>Food To fit your choice & health...</h2>
            <p>Search your ingredient</p>
				      <form id="uploadIngredients"
          action="/postIng"
          method="post">
        <input type="text" name="typeahead" id="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search for your recipe....">
            <input type="submit" value="Submit" id ="Submit">

                     </form>
			
          </div>
        </div>
        </div>
      </div>
    </section>
    <!-- / banner -->
    <!--about-->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center marb-35">
                    <h1 class="header-h">Gourmet Recipe</h1>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-info">
                            <h2 class="heading">Recipe for you.......!!</h2>
                            <p>Eat healthy! Make Healthy! Stay healty! </p>
                            <div class="details-list">
                            </div>
                        </div>
                    </div>
					
                    <div class="col-md-6 col-sm-6">
                        <img src="/img/res01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <!--/about-->
    <!-- event -->
    <section id="event">
        <div class="bg-color" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:60px;">
                      <h1 class="header-h">Recipes of your choice... </h1>
                   
                    </div>
                    <div class="col-md-12" style="padding-bottom:60px;">
                        <div class="item active left">
                          <div class="col-md-6 col-sm-6 left-images">
                           <img src="/img/res02.jpg" class="img-responsive">
                         </div>
                         <div class="col-md-6 col-sm-6 details-text">
                          <div class="content-holder">
                            <h2>Joyful eating</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eos suscipit earum voluptas aliquam recusandae, quae iure adipisci, inventore quia, quos delectus quaerat praesentium id expedita nihil illo accusantium, tempora.</p>
                            
                            <a class="btn btn-imfo btn-read-more" href="events-details.html">Read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ event -->
   
    <!-- footer -->
    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Gourmet Recipes...</h4>
						<h4 class="widget-title">Contacts:</h4>
						<div>
						<a class="menu-title" href="#" data-meal-img="/img/restaurant/rib.jpg">Deepika Kalani : +1(408)480-7643</a>
						<a class="menu-title" href="#" data-meal-img="/img/restaurant/rib.jpg">Kanika Gupta   : +1(650)495-9748</a>
						</div>
						<div>
						<a class="menu-title" href="#" data-meal-img="/img/restaurant/rib.jpg">Swati Gupta    : +1(602)576-7971</a>
						<a class="menu-title" href="#" data-meal-img="/img/restaurant/rib.jpg">Sunil Tiwari   : +1(669)213-7162</a>
						</div>
                        
                        <div class="social-list">
                            <a href="https://twitter.com/SatisfyingTaste"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/food.recipes.videos/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <p class="copyright clear-float">
                           
                            <div class="credits">                                
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->
    
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/custom.js"></script>
    
</body>
</html>
